.#{$selector-prefix}-media {
  display: flex;
  align-items: flex-start;

  &.-align-center {
    align-items: center;
  }

  &__body {
    flex: 1;
  }

  img {
    width: 80px;
    height: 80px;
    margin-right: 20px;

    &.-small {
      width: 50px;
      height: 50px;
      margin-right: 10px;
    }
  }
}
