.-#{$selector-prefix}-txt-white {
  color: $white;
}

.-#{$selector-prefix}-txt-black {
  color: $black;
}

.-#{$selector-prefix}-txt-base {
  color: $gray;
}

.-#{$selector-prefix}-txt-center {
  text-align: center;
}
