<app-content-list-cards-list *ngIf="cardsListModel" [model]="cardsListModel" (onDetailItemOpen)="onDetailItemOpenHandler($event)">

</app-content-list-cards-list>
<app-content-list-list-with-image *ngIf="listWithImageModel" [model]="listWithImageModel" (onDetailItemOpen)="onDetailItemOpenHandler($event)">

</app-content-list-list-with-image>
<app-content-list-list-with-summary *ngIf="listWithSummaryModel" [model]="listWithSummaryModel" (onDetailItemOpen)="onDetailItemOpenHandler($event)">

</app-content-list-list-with-summary>
